<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- materialize CDN --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {{!-- style.css --}}
    <link rel="stylesheet" href="/css/style.css">
    {{!-- Fontawesome CDN --}}
    <script src="https://kit.fontawesome.com/a9a65b20cf.js"></script>
    <title>StoryBook</title>
</head>

<body>
    {{> _header}}
    {{> _floating-btn}}
    <main>
        <div class="">
            {{{body}}}
        </div>
    </main>
    {{> _footer}}

    {{!-- jquery CDN --}}
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    {{!-- materialize CDN javascript --}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {{!-- CKeditor CDN --}}
    <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, options);
        });

        // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
        // var collapsibleElem = document.querySelector('.collapsible');
        // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);

        // Or with jQuery

        $(document).ready(function () {
            $('.sidenav').sidenav();

        });
        $(document).ready(function () {
            $('select').formSelect();
        })
        CKEDITOR.replace('body')

    </script>
</body>

</html>