<div class="card-panel white-text blue-grey">
    <h1>Welcome to Storybook</h1>
    <p>This is the Web app where you can write anything about yourself or anything else privately or publicaly</p>
    <p>Version 1.0.0</p>
    {{#if user}}
    {{else}}
    <a href="/auth/google" class="btn red darken-2"><i class="fab fa-google left"></i>Log in with Google</a>
    {{/if}}
</div>