<div class="row container" style="margin-top:40px;">
    <form action="/stories" class="col s8" method="post">
        <div class="row">
            <div class="input-field">
                <input type="text" name="title">
                <label for="title">Title</label>
            </div>

            <div class="row">
                <div class="input-field">
                    <select name="status">
                        <option value="public" selected>Public</option>
                        <option value="private">Private</option>
                        <option value="unpublish">Unpublish</option>
                    </select>
                    <label for="title">Status</label>
                </div>
            </div>

            <div class="row">
                <p>
                    <label>
                        <input type="checkbox" class="filled-in" checked="checked" name="allowComments" />
                        <span>Allow Comments</span>
                    </label>
                </p>
            </div>
            <div class="row">
                <div class="input-field">
                    <h5>Tell Your Story</h5>
                    <textarea name="body"></textarea>
                </div>
            </div>

            <input type="submit" value="Save" class="btn">

    </form>
</div>